<!doctype html>
<html>
    <header>
        <link rel="stylesheet"  href="/public/stylesheets/styles.css">
        <title>Starter web app  {{#if title}} - {{title}}{{/if}} </title>
    </header>
    <body>
        
        <h1>Start from here</h1>
        <div> {{{body}}} </div>
    </body>
    
    
</html>