<div ng-app='app'>
    <div ng-view></div>
    
</div>

<script src="public/bower/angular/angular.min.js"></script>
<script src="public/bower/angular-route/angular-route.min.js"></script>
<script src="public/js/app/app.js"></script>
<script src="public/js/app/route-config.js"></script>
<script src="public/js/app/colors2/colors2.js"></script>